*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    gap: 2vh;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    padding-top: 4vh;
    padding-bottom:4vh ;
    overflow-y: auto;
      
     {
        
    }
      

}

.wrap-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}


@media only screen and (min-width: 1024px) {
    .wrap-card{
        width: 100vw;
        flex-direction: row;
        gap: 2vw;
    }
  }